name '{{ .Name }}'
maintainer '{{ .Author }}'
maintainer_email '{{ .Email }}'
description ''
long_description ''
license ''
version ''

supports 'centos', '>= 5.11'
supports 'redhat', '>= 5.11'
supports 'ubuntu', '>= 12.04'
